@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: inherit;
}

body {
    font-family: "Jersey 20";
    color: #883b6a;
}

.wrap {
    margin: 1rem;
}

.regular-button {
    background-color: transparent;
    border-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.sidebarbutton:hover {
    background-color: #fff9dc;
    text-decoration: underline;
    cursor: pointer;
}

.filepicker-item {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    margin: inherit;
    gap: 1rem;
    border: solid 5px transparent;
}

.filepicker-item:hover {
    border: solid 5px #883b6a;
    animation-delay: 0.2s;
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        border-color: #883b6a;
    }

    33% {
        border-color: #e7baff;
    }

    66% {
        border-color: #a74085;
    }
}

.tooltip {
    display: none;
    position: fixed;
    top: 50vh;
    right: 2vw;
    align-items: bottom;
    justify-content: right;
    max-width: 10vw;
    background-color: #e7baff;
    padding: 1rem;
    border-radius: 5px;
}

.filepicker-item:hover+.tooltip {
    display: block;
    color: rebeccapurple;
}

main.p {
    margin: 0.5rem;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-button {
    background-color: transparent;
    border-color: transparent;
}

.x-button {
    background-color: transparent;
    border-color: transparent;
    top: 1px;
    left: 1px;
    z-index: 1000;
    position: absolute;
}

.x-button img {
    max-width: 2vw;
    padding: 0;
    margin: 0;
    justify-items: left;
    display: block;
}



.titlebar img {
    width: 3rem;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: "Jersey 20";
    color: transparent;
    text-overflow: ellipsis;
    white-space: inherit;
}

.main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #e7baff;
    border-radius: .5rem;
    overflow: hidden;
}

.windowbar {
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    background-color: #883b6a;

}

.windowbar p {
    color: #e7baff;
    margin: 0;
}

.windowbar img {
    max-height: 1.2rem;
    padding: .5rem 0;
}

button:hover {
    cursor: pointer;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    border-bottom: 2px solid #883b6a;
    color: #883b6a;
    background-color: #e7baff;
}

.titlebar p {
    margin: 0;
}

.body {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-color: #883b6a;
}


.sidebar {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 0.2rem;
    width: 20%;
    row-gap: 1rem;
    border-radius: .2rem;
    background-color: #883b6a;
}

.sidebarbutton a {
    display: inherit;
    justify-content: start;
    text-decoration: none;
    display: inherit;
    all: unset;
    /* padding-right: 0.8rem;
    margin-left: 0.2rem;
    margin-right: 0.8rem; */
}

.sidebarbutton {
    display: flex;
    flex-direction: row;
    background-color: #f9e095;
    align-content: center;
    text-decoration: none;
    width: 100%;
}

.sidebarbutton p {
    color: #883b6a;
    margin-left: 0.2rem;
    margin-right: 1.5rem;
    align-content: center;
    justify-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: inherit;
    font-size: medium;
    padding: 0;
}

.sidebarbutton img {
    aspect-ratio: initial;
    width: 3rem;
    height: 3rem;
    margin: 0.4rem;

}

.filepicker {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: 50% 50%;
    background-color: #fff9dc;
    color: black;
    row-gap: 4rem;
    margin: 0.5rem 0.3rem;

    padding: 0.2rem;
    border-radius: 0.2rem;
}

.filepicker-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;


}

.filepicker img {
    aspect-ratio: inherit;
    max-width: 50%;
    height: auto;
    justify-content: center;
}

.filepicker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.filepicker-item p {
    margin: 0;
    padding: 0;
    color: #883b6a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.aboutmeinfo {
    display: flex;
    flex-direction: row;
    flex-grow: 100%;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #fff9dc;
    color: #883b6a;
    row-gap: 4rem;
    margin: 0.5rem 0.3rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

h2 {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.aboutmeinfo p {
    max-width: 100%;
    margin-left: 0.5rem;
    flex: 1 1 0;
    padding: 0.05rem;
}

.aboutmeinfo img {
    justify-content: right;
}

/* carousel stuff */

#copy-carousel-overlay,
#favourites-carousel-overlay, #other-carousel-overlay {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.6);
}

#copy-carousel-overlay.open,
#favourites-carousel-overlay.open, #other-carousel-overlay.open {
    display: flex;
}

#carousel-wrapper {
    width: 95vw;
    height: 100%;
    padding: 0;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
    position: relative;

}

#carousel-wrapper li {
    list-style-type: none;
    background-color: #883b6a;
    padding: 0.5rem;
    display: flex;
    margin: 0 2vw;
    flex: 0 0 calc(100% - 2vw);
    align-content: center;
    border-radius: 10px;
    justify-content: space-around;
    scroll-snap-align: center;
}


.carousel-img {
    padding: 1rem;
    max-width: 45vw;
    max-height: 90vh;
    background-color: #e7baff;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    margin-right: 2.5vw;

}

.carousel-secondary-img {
    padding: 1rem 1rem;
    max-width: 60vw;
    max-height: 90vh;
    background-color: #e7baff;
    border-radius: 10px;
    object-fit: cover;
    align-items: flex-start;

    margin-left: 2.5vw;

}

.carousel-secondary-img img {
    max-width: 45vw;
    max-height: 75vh;
    aspect-ratio: initial;
    object-fit: contain;
    justify-content: center;
    align-items: flex-start;
}

.carousel-img img {
    max-width: 45vw;
    height: 90vh;
    aspect-ratio: initial;
    object-fit: contain;
    justify-content: center;
}

.carousel-text {
    max-width: 45vw;
    height: fit-content;
    max-height: 90vh;
    background-color: #e7baff;
    border-radius: 10px;
    object-fit: cover;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 2.5vh;
    padding: 1rem;

}

body {
    font-family: "Jersey 20";
    color: #883b6a;
    background-color: transparent;
}

ul {
    anchor-name: --my-carousel;
    align-items: center;
}

ul::scroll-button(*) {
    position: absolute;
    position-anchor: --my-carousel;
}



ul::scroll-button(left) {
    content: "◄" / "Previous";
    left: calc(anchor(left) - 2vw);
    bottom: calc(anchor(bottom) + 50vh);
}

ul::scroll-button(right) {
    content: "►" / "Next";
    left: calc(anchor(right));
    bottom: calc(anchor(bottom) + 50vh);
}
/*
ul::scroll-button(left) {
    content: "";
    background-color: transparent;
    border: none;
    background: url("leftbutton.png") no-repeat 0 0;
    background-size: 100%;
    width: 6rem;
    height: 6rem;
    left: calc(anchor(left) - 4rem);
}


/*
ul::scroll-button(right) {
    content: "";
    background-color: transparent;
    border: none;
    background: url("rightbutton.png") no-repeat 0 0;
    background-size: 100%;
    width: 6rem;
    height: 6rem;
    right: calc(anchor(right));
}