* {
    font-family: Helvetica;
    color:darkmagenta;
    box-sizing: border-box;
    text-align: left;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    background-color: pink;
    border: 20px solid darkmagenta;
    border-radius: 25px;
    text-align:center;
    
}

h2 {
    font-style: italic;
    text-align: center;
}

img {
    display: inline-block;
    width: auto;
    height: 200px;
    margin: 0 20px;
    border: 10px solid aquamarine;
}


    

figure {
    display: inline-block;
}

figcaption {
    margin-top: 0px;
    font-style:italic;
    font-size:small;
    text-align: center;
}



li {
    text-decoration:underline
}

li:hover {
    color:magenta
}
li:visited {
    color:blueviolet
}

@keyframes Colorchangegradient {
0% {background-position: 0% 50%;}
50% {background-position: 50% 100%;}
100% {background-position: 0% 50%;}
}

body {
    background: linear-gradient(270deg, pink, blueviolet);
    background-size: 400%;
    animation: Colorchangegradient 10s ease infinite;
}

