.container {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-row: 1fr;
    margin: 0 auto;

}

.container div {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 80px;
  text-align: center;
  margin: 10px;
}

button {
    font-size: 80px;
}
#one {
    grid-column: 2;
}

#yes, #no {
    text-align: center;
    justify-content: center;
}

#happy-cat {
    margin: 0 auto;
}

img:hover {
    border: 10px solid yellow;
}